
    img {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
      cursor: pointer;
      position: absolute;
    }

    #horoscope-text-holder {
      position: absolute;
    }

    h1 {
      text-align: center;
      height: fit-content;
    }

    h2 {
      font-size: 1.5em;
    }

    body {
      font-family: 'Roboto Mono', monospace;
      letter-spacing: 5px;
    }

    #container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 80%;
      /*margin: auto;*/
      position: relative;
      margin-top: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  
    #container img {
      position:absolute;
      left:0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    /*
    #container img:hover {
      opacity:0;
    }
    */
